// Links

a {
    color: $secondary;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $secondary-light;
    }
}

.view-more {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    background: $primary;
}
