.section {
    padding: 2rem 0;
}

.section--hero {
    border-bottom: 1px solid $primary;

    @media (min-width: $bp-s) {
        padding: 4rem 0;
    }

    h1,
    h2 {
        color: $white;
        color: $secondary;
    }

    h1 {
        margin-bottom: 1rem;
        text-shadow: 1px 1px $primary-dark,
                     2px 2px $primary-dark,
                     3px 3px $primary-dark;

        @media (min-width: $bp-s) {
            margin-bottom: 2rem;
            font-size: 4.6rem;

            text-shadow: 1px 1px $primary-dark,
                         3px 3px $primary-dark,
                         5px 5px $primary-dark;
        }
    }

    h2 {
        font-size: 2rem;
        text-shadow: 1px 1px $primary-dark,
                     2px 2px $primary-dark;

        @media (min-width: $bp-s) {
            font-size: 2.5rem;

            text-shadow: 1px 1px $primary-dark,
                         3px 3px $primary-dark;
        }
    }

    img {
        display: block;
        height: 100px;
        margin-bottom: 1rem;

        @media (min-width: $bp-s) {
            display: inline-block;
            height: 150px;
            margin-right: 2rem;
            margin-bottom: -3rem;
            font-size: 4.6rem;
        }
    }
}

.section--demo {
    .heading {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .g {
        margin-top: 2rem;
    }

    .gi {
        text-align: center;
    }

    a {
        font-size: 3rem;
        line-height: 0;

        i {
            transform: translateY(0);
            transition: 0.3s ease-in-out;
        }

        &:hover {
            i {
                transform: translateY(-10px);
            }
        }

        @media (min-width: $bp-xs) {
            font-size: 6rem;
        }

        @each $brand, $color in $brands {
            .fa-#{$brand} {
                color: $color;
            }
        }

    }
}

.section--share {
    .social-share {
        font-size: 4rem;
        line-height: 0;

        @media all and (min-width: $bp-xs) {
            font-size: 6rem;
        }

        li {
            display: inline-block;
            transform: translateY(0);
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}
