// Variables

// Colors
$primary: #8cdaff;
$secondary: #4B99C8;
$colors: (
    primary: (
        light: mix(white, $primary, 20%),
        normal: $primary,
        dark: mix(black, $primary, 20%)
    ),
    secondary: (
        light: mix(white, $secondary, 20%),
        normal: $secondary,
        dark: mix(black, $secondary, 20%)
    ),
    gray: (
        ultralight: #efefef,
        light: #cccccc,
        normal: #aaaaaa,
        dark: #888888,
        ultradark: #555555
    ),
    other: (
        white: #fcfcfc,
        black: #333333,
        success: #92F0A1,
        warn: #F0E591,
        alert: #FF676B
    )
);

// Primary
$primary-light: map-get(map-get($colors, primary), light);
$primary-dark: map-get(map-get($colors, primary), dark);

// Secondary
$secondary-light: map-get(map-get($colors, secondary), light);
$secondary-dark: map-get(map-get($colors, secondary), dark);

// Gray
$gray-ultralight: map-get(map-get($colors, gray), ultralight);
$gray-light: map-get(map-get($colors, gray), light);
$gray: map-get(map-get($colors, gray), normal);
$gray-dark: map-get(map-get($colors, gray), dark);
$gray-ultradark: map-get(map-get($colors, gray), ultradark);

// Other
$white: map-get(map-get($colors, other), white);
$black: map-get(map-get($colors, other), black);
$success: map-get(map-get($colors, other), success);
$warn: map-get(map-get($colors, other), warn);
$alert: map-get(map-get($colors, other), alert);

// Brand Colors
// Use: map-get($brands, facebook);
$brands: (
  500px: #222222,
  android: #a4c639,
  behance: #1769ff,
  codepen: #000000,
  delicious: #3399ff,
  digg: #000000,
  dribbble: #ea4c89,
  dropbox: #007ee5,
  facebook: #3b5998,
  flickr: #ff0084,
  foursquare: #0072b1,
  github: #333333,
  google-plus: #dd4b39,
  instagram: #3f729b,
  lastfm: #c3000d,
  linkedin: #007bb6,
  pinterest: #cb2027,
  reddit: #5f99cf,
  skype: #00aff0,
  snapchat: #fffc00,
  soundcloud: #ff8800,
  spotify: #7ab800,
  stumbleupon: #eb4924,
  trello: #256a92,
  tumblr: #32506d,
  twitch: #6441a5,
  twitter: #00aced,
  vimeo: #1ab7ea,
  vine: #00bf8f,
  vk: #45668e,
  xing: #026466,
  yahoo: #400191,
  yelp: #c41200,
  youtube: #bb0000
);

// Fonts
@import url(https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans:300,400,700);
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', $helvetica;

$georgia: Georgia, Times, serif;
$baloo: 'Baloo Bhaina', cursive;
$font: $open-sans;
$font-secondary: $baloo;

// Layout
$min-width: 20rem;
$max-width: 75rem;
$num-columns: 12;

// Breakpoints
$grid-width: $max-width;
$breakpoints: (
    xxs: (
        min: rem-calc(0),
        max: rem-calc(320)
    ),
    xs: (
        min: rem-calc(321),
        max: rem-calc(480)
    ),
    s: (
        min: rem-calc(481),
        max: rem-calc(640)
    ),
    m: (
        min: rem-calc(641),
        max: rem-calc(1024)
    ),
    l: (
        min: rem-calc(1025),
        max: rem-calc(1440)
    ),
    xl: (
        min: $max-width,
        max: rem-calc(1920)
    )
);
$bp-xxs: map-get(map-get($breakpoints, xxs), max);
$bp-xxs-min: map-get(map-get($breakpoints, xxs), min);
$bp-xxs-max: map-get(map-get($breakpoints, xxs), max);
$bp-xs: map-get(map-get($breakpoints, xs), max);
$bp-xs-min: map-get(map-get($breakpoints, xs), min);
$bp-xs-max: map-get(map-get($breakpoints, xs), max);
$bp-s: map-get(map-get($breakpoints, s), max);
$bp-s-min: map-get(map-get($breakpoints, s), min);
$bp-s-max: map-get(map-get($breakpoints, s), max);
$bp-m: map-get(map-get($breakpoints, m), max);
$bp-m-min: map-get(map-get($breakpoints, m), min);
$bp-m-max: map-get(map-get($breakpoints, m), max);
$bp-l: map-get(map-get($breakpoints, l), max);
$bp-l-min: map-get(map-get($breakpoints, l), min);
$bp-l-max: map-get(map-get($breakpoints, l), max);
$bp-xl: map-get(map-get($breakpoints, xl), max);
$bp-xl-min: map-get(map-get($breakpoints, xl), min);
$bp-xl-max: map-get(map-get($breakpoints, xl), max);

// Misc
$quote-left: "\201c";
$quote-right: "\201d";
$chevron-left: "&#x3008;";
$chevron-right: "&#x3009;";
$close: "&#x2715;";
